{% extends 'layout.html' %}
{% block title %}Password reset page{% endblock %}
{% block main %}
<div class="l-password-reset">
    <h1 class="text-center mb-5">Восстановление пароля</h1>
    <form class="l-form" method="post" action="{% url 'password_reset' %}">
        {% if form.non_field_errors.errors %}
            {% for error in form.non_field_errors.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Ваш email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control{% if form.email.errors %} is-invalid{% endif %}" id="email" name="email"
                       value="{{ form.email.value|default_if_none:"" }}">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Восстановить пароль</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}