{% extends 'layout.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block main %}
<div class="l-password-change">
    <h1 class="text-center mb-5">Изменение пароля</h1>
    <form class="l-form" method="post" action="{% url 'password_change' %}">
        {% if form.non_field_errors.errors %}
            {% for error in form.non_field_errors.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <div class="form-group row">
            <label for="old-password" class="col-sm-2 col-form-label">Старый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control{% if form.old_password.errors %} is-invalid{% endif %}" id="old-password" name="old_password"
                       value="{{ form.old_password.value|default_if_none:"" }}">
                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="new-password1" class="col-sm-2 col-form-label">Новый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}" id="new-password1" name="new_password1"
                       value="{{ form.new_password1.value|default_if_none:"" }}">
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="new-password2" class="col-sm-2 col-form-label">Подтвердите новый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" id="new-password2" name="new_password2"
                       value="{{ form.new_password2.value|default_if_none:"" }}">
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Изменить пароль</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}