{% extends 'layout.html' %}
{% block title %}Auction page{% endblock %}
{% block main %}
    <div class="l-auction">
        <div class="row">
            <div class="col-6">
                {% if auction.photos.count > 0 %}
                    <div id="carouselAuctionPhotos" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for photo in auction.photos.all %}
                                <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                                    <img src="{{ photo.file.url }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselAuctionPhotos" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselAuctionPhotos" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-6">
                <h1 class="h2 mb-4">{{ auction.name }}</h1>
                <hr>
                <p>
                    стартовая цена: <strong>{{ auction.start_price }} р</strong><br>
                    блиц цена: <strong>{{ auction.blitz_price }} р</strong>
                </p>
                <hr>
                <p>
                    {% if not auction.finished %}
                        завершается: <strong>{{ auction.end_date }}</strong><br>
                    {% endif %}
                    сделано ставок: <strong>{{ auction.bets.count }}</strong><br>
                    максимальная ставка: <strong class="text-success">{{ auction.max_bet }} р</strong>
                </p>
                <p>
                    <small class="text-muted">Местоположение лота: {{ auction.location_city }}</small>
                </p>

                {% if permissions.can_make_a_stake %}
                    <form class="make-stake-form form-inline"
                          action="{% url 'make_bet' auction.id %}"
                          method="POST">
                        {% csrf_token %}
                        <label for="stake" class="font-weight-bold">Ваша ставка (р.)</label>
                        <input type="text"
                               class="ml-2 form-control{% if invalid_stake is not None %} is-invalid{% endif %}"
                               id="stake"
                               name="stake"
                               {% if invalid_stake is not None%}
                                    value="{{  invalid_stake }}"
                               {% elif auction.max_bet > auction.start_price %}
                                    value="{{ auction.max_bet }}"
                               {% else %}
                                    value="{{ auction.start_price }}"
                               {% endif %}
                        >
                        <button type="submit" class="ml-2 btn btn-primary">Сделать ставку</button>
                        {% if invalid_stake is not None %}
                            <input type="hidden" class="form-control is-invalid">
                            <div class="invalid-feedback">Ставка должна быть не меньше стартовой цены ({{ auction.start_price }} р.)</div>
                        {% endif %}
                    </form>
                {% endif %}
                {% if permissions.can_edit %}
                    <a href="{% url 'auction_edit' auction.id %}" class="btn btn-primary mb-3">Редактировать</a>
                {% endif %}
                {% if permissions.can_delete %}
                    <a href="{% url 'auction_delete' auction.id %}" class="btn btn-danger mb-3">Удалить</a>
                {% endif %}
                {% if permissions.can_see_winner_name %}
                    <p class="text-success h4">Аукцион окончен, победил {{ auction.winner.username }}</p>
                {% endif %}
                {% if permissions.can_see_auction_ended_message %}
                    <p class="text-success h4">Аукцион окончен</p>
                {% endif %}
                {% if permissions.can_see_winner_contact %}
                    <p class="text-success">Вы можете связаться с {{ auction.winner.username }}: {{ auction.winner.email }}</p>
                {% endif %}
                {% if permissions.can_see_you_win_message %}
                    <p class="text-success h4">Поздравляем! Вы победили!</p>
                    <p class="text-success">Вы можете связаться с продавцом: {{ auction.user.email }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'description' %} active{% endif %}" data-toggle="tab" href="#description">Описание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'q-and-a' %} active{% endif %}" data-toggle="tab" href="#q-and-a">Вопрос/Ответ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'stakes' %} active{% endif %}" data-toggle="tab" href="#stakes">Ставки</a>
                    </li>
                </ul>
                <div class="tab-content p-2">
                    <div class="tab-pane fade{% if active_tab == 'description' %} show active{% endif %}" id="description" role="tabpanel" aria-labelledby="home-tab">
                        {{ auction.description|linebreaksbr }}
                    </div>
                    <div class="tab-pane fade{% if active_tab == 'q-and-a' %} show active{% endif %}" id="q-and-a" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="comments pt-3">
                            <form action="{% url 'comment_save' auction.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-9">
                                        <textarea name="comment" class="form-control{% if parent_of_empty_comment == 0 %} is-invalid{% endif %}"
                                                  placeholder="Ваш вопрос"></textarea>
                                        {% if parent_of_empty_comment == 0 %}
                                            <div class="invalid-feedback">Обязательное поле</div>
                                        {% endif %}
                                        <input type="hidden" name="parent_id" value="0">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary" type="submit">Отправить</button>
                                    </div>
                                </div>
                            </form>
                            <div class="tree mt-5">
                                <div class="branch">
                                    <div class="children">
                                        {% include 'comments_branch.html' with parent_of_empty_comment=parent_of_empty_comment comments=auction.first_level_comments %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade{% if active_tab == 'stakes' %} show active{% endif %}" id="stakes" role="tabpanel" aria-labelledby="contact-tab">
                        {% if auction.bets.count == 0 %}
                            <div class="alert alert-primary mt-3" role="alert">Пока нет ставок в этом аукционе. Будьте первым!</div>
                        {% else %}
                            <table class="table table-sm table-hover table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Пользователь</th>
                                    <th scope="col">Ставка</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for bet in auction.bets.all|dictsortreversed:"id" %}
                                        <tr>
                                            <td>{{ bet.date }}</td>
                                            <td>{{ bet.user.username }}</td>
                                            <td>{{ bet.bet }} р.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/app/auction-item.js' %}"></script>
{% endblock %}