{% extends 'layout.html' %}
{% block title %}Редактировать аукцион{% endblock %}
{% block main %}
    <div class="l-auction-edit">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link{% if not open_gallery_tab %} active{% endif %}" data-toggle="tab" href="#general">Основные данные</a>
            </li>
            {% if auction_id != 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if open_gallery_tab %} active{% endif %}" data-toggle="tab" href="#photos">Фото галерея</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content p-2">
            <div class="tab-pane fade show{% if not open_gallery_tab %} active show{% endif %} pt-3" id="general">
                <form class="l-form" action="{% url 'auction_save' auction_id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Название</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control{% if form.name.errors %} is-invalid{% endif %}"
                                   id="name"
                                   name="name"
                                   placeholder="Bob Dylan's Greatest Hits"
                                   value="{{ form.name.value|default_if_none:"" }}">
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Описание</label>
                        <div class="col-sm-10">
                            <textarea id="description"
                                      name="description"
                                      class="form-control{% if form.description.errors %} is-invalid{% endif %}"
                                      placeholder="Bob Dylan's Greatest Hits...">{{ form.description.value|default_if_none:"" }}</textarea>
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location_city" class="col-sm-2 col-form-label">Местоположение</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control{% if form.location_city.errors %} is-invalid{% endif %}"
                                   id="location_city"
                                   name="location_city"
                                   placeholder="Казань"
                                   value="{{ form.location_city.value|default_if_none:"" }}">
                            {% if form.location_city.errors %}
                                {% for error in form.location_city.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="start_price" class="col-sm-2 col-form-label">Стартовая цена</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control{% if form.start_price.errors %} is-invalid{% endif %}"
                                   id="start_price"
                                   name="start_price"
                                   placeholder="1000"
                                   value="{{ form.start_price.value|default_if_none:"" }}">
                            {% if form.start_price.errors %}
                                {% for error in form.start_price.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="blitz_price" class="col-sm-2 col-form-label">Блиц цена</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control{% if form.blitz_price.errors %} is-invalid{% endif %}"
                                   id="blitz_price"
                                   name="blitz_price"
                                   placeholder="1500"
                                   value="{{ form.blitz_price.value|default_if_none:"" }}">
                            {% if form.blitz_price.errors %}
                                {% for error in form.blitz_price.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="end_date" class="col-sm-2 col-form-label">Дата окончания</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control{% if form.end_date.errors %} is-invalid{% endif %}"
                                   id="end_date"
                                   name="end_date"
                                   placeholder="2019-06-26 12:00"
                                   {% if form.end_date.value %}
                                        {% load auction_filters %}
                                        value="{{ form.end_date.value|auction_end_date }}"
                                   {% else %}
                                        value=""
                                   {% endif %}
                                   >
                            {% if form.end_date.errors %}
                                {% for error in form.end_date.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="started" class="col-sm-2 col-form-label">Запущен</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       name="started"
                                       value="1"
                                       {%  if form.started.value %}
                                            checked="checked"
                                       {% endif %}
                                       id="started">
                                <label class="custom-control-label" for="started"></label>
                                <small class="text-danger">После запуска редактирование данных станет недоступным.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            {% if auction_id != 0 %}
                <div class="tab-pane fade pt-3{% if open_gallery_tab %} active show{% endif %}" id="photos">
                    <div class="gallery-widget" data-photo-save-url="{% url 'photo_save' auction_id %}">
                        <div class="row">
                            <div class="col-2">
                                <button type="button" class="btn btn-primary">Загрузить фото</button>
                            </div>
                            <div class="col-8">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            {% for photo in auction.photos.all %}
                                <span class="item float-left rounded" style="background-image:url({{ photo.file.url }})">
                                    <a href="{% url 'photo_delete' auction.id photo.id %}" class="close text-danger">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/app/auction-edit.js' %}"></script>
{% endblock %}      