{% extends 'layout.html' %}
{% block title %}Auctions list{% endblock %}
{% block main %}
    <div class="l-auctions">
        {%  if request.view_name == 'auction.views.user_auctions' %}
            <a href="{% url 'auction_edit' 0 %}" class="btn btn-primary mb-4">Создать аукцион</a>
        {% endif %}
        {% if not auctions %}
            <div class="alert alert-primary" role="alert">
                Ничего не найдено
            </div>
        {% else %}
            {% for auction in auctions %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <a href="{% url 'auction' auction.id %}"><svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg></a>
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <a class="card-title h5 d-block" href="{% url 'auction' auction.id %}">{{ auction.name }}</a>
                                <p>
                                    <strong>завершается:</strong> {{ auction.end_date }}<br>
                                    <strong>сделано ставок:</strong> {{ auction.bets.count }}<br>
                                    <small class="text-muted">Местоположение лота лота: {{ auction.location_city }}</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card-body">
                                <p>
                                    стартовая цена: <strong>{{ auction.start_price }} р</strong><br>
                                    блиц цена: <strong>{{ auction.blitz_price }} р</strong><br>
                                    максимальная ставка: <strong class="text-success">{{ auction.max_bet }} р</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if paginator.num_pages > 1 %}
                <ul class="pagination">
                    <li class="page-item"{% if page == 1 %} disabled{% endif %}>
                        <a href="{% url 'auctions' %}?search={{ search }}&page=1" class="page-link"><span>&laquo;</span></a>
                    </li>
                    {% for i in paginator.page_range %}
                        <li class="page-item{% if page == forloop.counter %} active{% endif %}">
                            <a href="{% url 'auctions' %}?search={{ search }}&page={{ forloop.counter }}" class="page-link">{{ forloop.counter }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item{% if page == paginator.num_pages %} disabled{% endif %}">
                        <a href="{% url 'auctions' %}?search={{ search }}&page={{ paginator.num_pages }}" class="page-link"><span>&raquo;</span></a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}