{% extends 'layout.html' %}
{% block title %}Аукционы{% endblock %}
{% block main %}
    <div class="l-home text-center">
        <div class="mb-4">
            <a href="/" class="h1 l-brand-link">Аукционы</a>
        </div>
        <div>
            <form action="{% url 'auctions' %}">
                <div class="mb-3">
                    <input type="text" name="search" class="form-control" placeholder="Введите поисковый запрос">
                </div>
                <div>
                    <button class="btn btn-primary btn-lg" type="submit">Поиск</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}