<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="row pt-4 pb-5 l-header">
        {% if request.view_name == 'auction.views.home' %}
            <div class="col-9"></div>
        {% else %}
            <div class="col-2"><a href="{% url 'home' %}" class="h3 l-brand-link">Аукционы</a></div>
            <div class="col-7">
                <form action="{% url 'auctions' %}">
                    <div class="form-row">
                        <div class="col-10">
                            <input type="text"
                                   name="search"
                                   class="form-control"
                                   {% if request.GET.search %}
                                        value="{{ request.GET.search }}"
                                   {% endif %}
                                   placeholder="Введите поисковый запрос">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="col-3">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a href="#" class="name" title="username"
                       data-toggle="dropdown">{{ user.username }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'user_auctions' user.id %}">Мои аукционы</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                    </div>
                </div>
            {% else %}
                {% if request.view_name != 'django.contrib.auth.views.LoginView' %}
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
                {% endif %}
                {% if request.view_name != 'django_registration.backends.one_step.views.RegistrationView' %}
                    <a href="{% url 'django_registration_register' %}" class="btn btn-outline-primary">Регистрация</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'js/lib/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/lib/popper.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
</body>
</html>